#logo{
	background-image: url(images/ecenario.svg);
	text-align: center;
}
p{
	margin: 0.5em 200px;
	font-family: 'Press Start 2P';
	font-size: medium;
	text-align: justify;

}
nav {
  	height: 60px;
  	width: 1314px;
  	padding-left: 0px;
}

th{
	font-family: 'Press Start 2P';
	padding: 10px;

}
#imagenes{

	align-content: center;
	padding-left: 150px;
	padding-top: 50px;
	width: 90%;
}
div{
	align-content: center;
}
td{
	text-align: center;
	padding-top: 10px;
}
#gimp{
	width: 90px;
}
#inkscape{
width: 90px;	
}
#audacity{
	width: 90px;
}
#titulo{
	width: 800px;
	align-content: center;
	height: 180px;
}

#menu{

	text-align: center;

}
#social{
	width: 40px;
}
#pie{
	width: 80px;
	align-content: center;
	padding-left: 400px;
}
#foot{
	padding:30px;
	background-image: url(images/ecenario.svg);
}

body{
	background: #8FC0A9;
}
img{
	width: 150px;

}
nav{
	font-family: 'Bungee', cursive;
	font-size: 25px;
	padding-left:  15px;
	padding-right: 15px;
	padding-top: 20px;
	
}
a{
	
	color: #FF0000;
	width: 15px;
	padding-left:  15px;
	padding-right: 15px;
	padding-top: 20px;

}
a:link{
	text-decoration: none;
	color: #FD4420;
}
a:visiter{
	color: #FD4420;
}
a:hover{
	color: #FF6B09;
}
a:active{
	color: #FD4420;
}
#redes{
	font-size: x-small;
	color: #FFFFFF;
}
#contacto{
	color: #FFFFFF;
	font-size: medium;
}
#flashContent{
	text-align: center;
	padding: 15px;
}
h1{
	text-align: center;
	font-family: 'Press Start 2P';
	color: #61038D;
}
h3{
	text-align: center;
	font-family: 'Press Start 2P';
	color: #61038D;
}
#navegacion{
	align-content: center;
	width: 220px;
}
#proyectil{
	align-content: center;
	width: 200px;
}
#proy{
	text-align: center;
}
#flecha{
	text-align: center;
}
#video{
	text-align: center;
}
h4{
	text-align: center;
	font-family: 'Press Start 2P';
	color: #61038D;
}
#creditos{
	margin: 0.5em 200px;
	font-family: 'Press Start 2P';
	font-size: medium;
	text-align: center;
	padding-top: 10px;
}
#yo{
align-content: center;
text-align: center;
}
